#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #cfe8f3;
  color: #2b2b2b;
}

body {
  background-color: #f8f4e3;
  color: #333333;
}

header {
  background-color: #f6c65b;
  color: #2b2b2b;
}

nav a:hover {
  background-color: #91c5ec;
  color: #ffffff;
}

nav a {
    text-align: center;
    color:#2b2b2b;
    text-decoration: none;
}

.home-title {
    color: #f6c65b
}

h4 {
    color:#91c5ec
}

.book, .join {
  background-color: #f8f4e3;
  color: #2b2b2b;
  text-decoration: none;
}

.book:hover, .join:hover {
  background-color: #e2ae3e;
  color: #ffffff;
}

.msg h2 {
  background-color: #fff7e1;
  color: #2b2b2b;
}

.msg p {
    color:#e2ae3e
}

footer {
    background-color: #e2ae3e;
    color: black
}

footer a {
  background-color: #f6c65b;
  color: #2b2b2b;
  text-align: center;
  text-decoration: none;
}

footer a:hover { color:white 
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
  height: auto;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}