#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #cfe8f3;
  color: #2b2b2b;
}

body {
  background-color: #f8f4e3;
  color: #333333;
  font-family:'Open Sans', 'Roboto', Lato;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link {
  padding-top: 5px;
}
h2 {
  margin:0;
}
h1, h4 {
  font-family: 'DM Serif Display', 'Playfair Display', 'Libre Bodoni';
}
header {
  background-color: #f6c65b;
  color: #2b2b2b;
}


nav a:hover {
  background-color: #91c5ec;
  color: #ffffff;
}

nav a {
    text-align: center;
    color:#2b2b2b;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

.home-title {
    color: #f6c65b;
    font-family: 'DM Serif Display', 'Playfair Display', 'Libre Bodoni';
    font-size: 2em;
    margin-top: 10px;

}

h4 {
    color:#91c5ec
}

.book, .join {
  background-color: #f8f4e3;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #e2ae3e;
  color: #ffffff;
}

.msg h2 {
  background-color: #fff7e1;
  color: #2b2b2b;
  font-family: 'DM Serif Display', 'Playfair Display', 'Libre Bodoni';
  line-height: 1.5em;
  padding: 35px;
}

.msg p {
    color:#e2ae3e;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: #e2ae3e;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
  background-color: #f6c65b;
  color: #2b2b2b;
  text-align: center;
  text-decoration: none;
}

footer a:hover { color:white 
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-img {
  width: 100%;
  height: auto;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid black;
}
main section img {
  box-sizing: border-box;
}